<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>20/03/15 20:12:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailBoxTests.TC_01()[pri:0, instance:TestModules.LogigearEmail_TestSuite.MailBoxTests@3d99d22e]">TC_01</td> 
  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/03/15 20:12:56</td>   <td>4499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestModules.LogigearEmail_TestSuite.MailBoxTests@3d99d22e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/03/15 20:12:41</td>   <td>-10522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestModules.LogigearEmail_TestSuite.MailBoxTests@3d99d22e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
</table>
