<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCases.TADashBoard_TestSuite.MainPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_MP_TC017</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestCases.TADashBoard_TestSuite.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DA_LOGIN_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_LOGIN_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_LOGIN_TC010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_LOGIN_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestCases.TADashBoard_TestSuite.DataProfilesTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC070</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC071</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC072</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC073</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC074</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC096</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC075</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC065</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC076</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC066</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC077</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC067</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC078</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC068</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC079</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DA_DP_TC069</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
