<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:03:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC065()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC065</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:00</td>   <td>17507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC066()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC066</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:14</td>   <td>31379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC067()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC067</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:30</td>   <td>47054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC068()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC068</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:13</td>   <td>90006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC069()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC069</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:24</td>   <td>101498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC070()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC070</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:35</td>   <td>112691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC071()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC071</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:48</td>   <td>125887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC072()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC072</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:01</td>   <td>138071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC073()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC073</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:16</td>   <td>153455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC074()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC074</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:33</td>   <td>170064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC075()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC075</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:51</td>   <td>188319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC076()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC076</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:12</td>   <td>209678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC077()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC077</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:25</td>   <td>222585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC078()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC078</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:38</td>   <td>234964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC079()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC079</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:52</td>   <td>249757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC096()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC096</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:03:43</td>   <td>403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC001()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC001</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:03:55</td>   <td>12355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC002()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC002</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:04:02</td>   <td>19490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC003()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC003</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:04:11</td>   <td>27938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC010()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC010</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:18</td>   <td>35323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC011()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC011</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:31</td>   <td>48532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC012()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC012</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:49</td>   <td>66660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC013()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC013</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:05:56</td>   <td>132966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC014()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC014</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:12</td>   <td>149142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC015()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC015</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:26</td>   <td>163532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC016()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC016</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:42</td>   <td>178985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC017()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC017</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:49</td>   <td>6758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:56</td>   <td>13032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:57</td>   <td>14327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:05</td>   <td>22888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:07</td>   <td>24558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:12</td>   <td>29805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:23</td>   <td>40371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:26</td>   <td>43667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:44</td>   <td>61869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:07</td>   <td>84607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:19</td>   <td>96339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:30</td>   <td>107344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:44</td>   <td>121013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:51</td>   <td>127978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:56</td>   <td>133475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:07</td>   <td>144125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:10</td>   <td>147599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:21</td>   <td>158080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:25</td>   <td>162417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:37</td>   <td>173913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:45</td>   <td>182748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:49</td>   <td>186299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:07</td>   <td>204635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:20</td>   <td>217522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:33</td>   <td>230138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:48</td>   <td>244967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:09:03</td>   <td>320081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:37</td>   <td>-5260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:37</td>   <td>-5260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:50</td>   <td>7381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:56</td>   <td>13398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:57</td>   <td>14535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:06</td>   <td>23268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:07</td>   <td>24859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:13</td>   <td>30563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:23</td>   <td>40843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:26</td>   <td>43668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:44</td>   <td>61869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:07</td>   <td>84846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:19</td>   <td>96592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:30</td>   <td>107885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:44</td>   <td>121346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:51</td>   <td>128258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:56</td>   <td>133805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:07</td>   <td>144371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:11</td>   <td>148013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:21</td>   <td>158693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:26</td>   <td>163108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:37</td>   <td>174167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:46</td>   <td>182992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:07</td>   <td>204874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:20</td>   <td>217763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:33</td>   <td>230303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:48</td>   <td>245153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
</table>
