<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:03:43</td>   <td>5260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC065()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC065</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:03:43</td>   <td>5663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC001()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC001</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:49</td>   <td>12018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:50</td>   <td>12641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:03:55</td>   <td>17615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC002()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC002</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:56</td>   <td>18292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:56</td>   <td>18658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:57</td>   <td>19587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:03:57</td>   <td>19795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:00</td>   <td>22767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC066()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC066</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:04:02</td>   <td>24750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC003()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC003</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:05</td>   <td>28148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:06</td>   <td>28528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:07</td>   <td>29818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:07</td>   <td>30119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/11/25 18:04:11</td>   <td>33198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.DA_LOGIN_TC010()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">DA_LOGIN_TC010</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:12</td>   <td>35065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.LoginTest@15530b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:13</td>   <td>35823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:14</td>   <td>36639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC067()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC067</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:18</td>   <td>40583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC011()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC011</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:23</td>   <td>45631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:23</td>   <td>46103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:26</td>   <td>48927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:26</td>   <td>48928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:04:30</td>   <td>52314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC068()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC068</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:31</td>   <td>53792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC012()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC012</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:44</td>   <td>67129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:04:44</td>   <td>67129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:04:49</td>   <td>71920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC013()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC013</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:07</td>   <td>89867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:07</td>   <td>90106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:13</td>   <td>95266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC069()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC069</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:19</td>   <td>101599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:19</td>   <td>101852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:24</td>   <td>106758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC070()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC070</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:30</td>   <td>112604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:30</td>   <td>113145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:35</td>   <td>117951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC071()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC071</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:44</td>   <td>126273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:44</td>   <td>126606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:05:48</td>   <td>131147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC072()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC072</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:51</td>   <td>133238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:51</td>   <td>133518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:05:56</td>   <td>138226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC014()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC014</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:56</td>   <td>138735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:05:56</td>   <td>139065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:01</td>   <td>143331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC073()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC073</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:07</td>   <td>149385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:07</td>   <td>149631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:10</td>   <td>152859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:11</td>   <td>153273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:12</td>   <td>154402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC015()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC015</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:16</td>   <td>158715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC074()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC074</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:21</td>   <td>163340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:21</td>   <td>163953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:25</td>   <td>167677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:26</td>   <td>168368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:26</td>   <td>168792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC016()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC016</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:33</td>   <td>175324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC075()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC075</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:37</td>   <td>179173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:37</td>   <td>179427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>19/11/25 18:06:42</td>   <td>184245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.DA_MP_TC017()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">DA_MP_TC017</td> 
  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:45</td>   <td>188008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:46</td>   <td>188252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:06:49</td>   <td>191559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.MainPageTest@be92ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@21788156</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:06:51</td>   <td>193579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC076()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC076</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:07</td>   <td>209895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:07</td>   <td>210134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:12</td>   <td>214938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC077()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC077</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:20</td>   <td>222782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:20</td>   <td>223023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:25</td>   <td>227845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC078()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC078</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:33</td>   <td>235398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:33</td>   <td>235563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:38</td>   <td>240224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC079()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC079</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:48</td>   <td>250227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:07:48</td>   <td>250413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/11/25 18:07:52</td>   <td>255017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProfilesTest.DA_DP_TC096()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">DA_DP_TC096</td> 
  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/11/25 18:09:03</td>   <td>325341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:TestCases.TADashBoard_TestSuite.DataProfilesTest@1057a39]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4713831</td>   <td></td> </tr>
</table>
